<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delegación de Gaviota - Login</title>
  <link th:replace="~{/components/style}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
 <div class="container-fluid">
   <a class="navbar-brand text-light" th:href="@{/login}">Delegación de Gaviota</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true">
     <span class="navbar-toggler-icon"></span>
   </button>
 </div>
</nav>
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <div th:if="${param.error}">
        <div class="alert alert-danger">Correo o clave invalida</div>
      </div>
      <div th:if="${param.logout}">
        <div class="alert alert-success">Ha salido correctamente de la aplicaion</div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Formulario de Inicio</h2>
        </div>
        <div class="card-body">
          <form method="post"
                role="form"
                th:action="@{/login}"
                class="form-horizontal"
          >
            <div class="form-group mb-3">
              <label class="control-label"> Correo</label>
              <label for="username"></label><input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Escriba su correo"
            />
            </div>

            <div class="form-group mb-3">
              <label class="control-label"> Clave</label>
              <label for="password"></label><input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Escriba su clave de acceso"
            />
            </div>
            <div class="form-group mb-3">
              <button type="submit" class="btn btn-primary">Iniciar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<link th:replace="~{/components/script}">
</body>
</html>