<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Delegación de Gaviota - Color de Piel</title>

    <link th:replace="~{/components/style}">

</head>

<body id="page-top">

    <div id="wrapper">

        <link th:replace="~{/components/nav-left}">

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <link th:replace="~{/components/nav-top}">

                <!--Contenido-->

                <h1 class="h3 mb-2 text-gray-800"> Editar un color de piel</h1>
                <form th:action="@{'/piel/' + ${piel.id_piel} + '/edit'}" th:method="post" th:object="${piel}">
                    <div>
                        <div class="form-group col-sm-6">
                            <label for="piel-nombre-new">Tipo</label>
                            <input type="text" class="form-control" id="piel-nombre-new" placeholder="Tipo" name="
                        tipo" th:value="*{tipo_piel}" th:field="*{tipo_piel}">
                        </div>
                        
                        <a th:href="@{/piel/}" class="btn btn-secondary" type="button"><i class="corner-up-left"></i>Regresar</a>
                        <button class="form-group btn btn-primary" type="submit">Editar color de piel</button>
                    </div>
                </form>
            </div>

            <link th:replace="~{/components/footer}">
        </div>
    </div>

    <!-- ERROR-MODAL-->

    <link th:replace="~{/components/script}">

</body>

</html>