<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Delegación de Gaviota - Usuario</title>

    <link th:replace="~{/components/style}">

</head>

<body id="page-top">

    <div id="wrapper">

        <link th:replace="~{/components/nav-left}">

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <link th:replace="~{/components/nav-top}">

                <!--Contenido-->

                <h1 class="h3 mb-2 text-gray-800"> Agregar un nuevo usuario</h1>
                <form th:action="@{/usuario/new}" th:method="post" th:object="${usuario}">
                    <div>
                        <div class="form-group col-sm-6">
                            <label for="usuario-id-new">Id</label>
                            <input type="text" class="form-control" id="persona-id-new" placeholder="Id" name="
                        id" th:value="*{id_usuario}" th:field="*{id_usuario}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="persona-correo-new">Correo</label>
                            <input type="text" class="form-control" id="persona-correo-new" placeholder="Correo" name="
                            correo" th:value="*{correo}" th:field="*{correo}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="persona-clave-new">Clave</label>
                            <input type="text" class="form-control" id="persona-clave-new" placeholder="Clave"
                                name="clave" th:value="*{clave}" th:field="*{clave}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="persona-id_rol-new">Id_rol</label>
                            <select name="id_rol" id="persona-id_rol-new" class="form-control" th:field="*{rol}">
                                <option th:each="rol: ${rols}" 
                                        th:value="${{rol}}" 
                                        th:text="${rol.nombre_rol}">
                                </option>
                            </select>
                        </div>
                        <a th:href="@{/usuario/}" class="btn btn-secondary" type="button"><i
                                class="corner-up-left"></i>Regresar</a>
                        <button class="form-group btn btn-primary" type="submit">Adicionar usuario</button>
                    </div>
                </form>
            </div>

            <link th:replace="~{/components/footer}">
        </div>
    </div>

    <!-- ERROR-MODAL-->

    <link th:replace="~{/components/script}">

</body>

</html>