<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">
<div th:fragment="removeModal(id, entity, title, message)">
    <div class="modal fade" th:id="'removeModal'+${entity}+${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${title}"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Cancelar">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" th:text="${message}"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a href="#" th:data-id="${id}" th:data-entity="${entity}" th:onClick="deleteEntity(this.getAttribute('data-id'), this.getAttribute('data-entity'));" 
                    class="btn btn-primary">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
</div>


</html>