<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Delegación de Gaviota  - Admin</title>

    <link th:replace="~{/components/style}">

</head>
  
<body id="page-top">

    <div id="wrapper">

        <link th:replace="~{/components/nav-left}">

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                 
                <link th:replace="~{/components/nav-top}">

                Delegación de Gaviota

            </div>

            <link th:replace="~{/components/footer}">
        </div>
    </div>

    <!-- ERROR-MODAL-->

    <link th:replace="~{/components/script}">
    
</body>

</html>