<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Delegación de Gaviota - Cargo en el centro</title>

    <link th:replace="~{/components/style}">

</head>

<body id="page-top">

    <div id="wrapper">

        <link th:replace="~{/components/nav-left}">

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <link th:replace="~{/components/nav-top}">

                <!--Contenido-->
                <h1 class="h3 mb-2 text-gray-800">Detalles del Cargo en el centro</h1>
                <div>
                    <div class="form-group col-sm-6">
                        <label for="puesto-id-show"><b>Id</b></label>
                        <label for="puesto-id-show" th:text="${puesto_trabajo.id_puest}"></label>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="puesto-nombre-show"><b>Nombre</b></label>
                        <label for="puesto-nombre-show" th:text="${puesto_trabajo.nombre_puest}"></label>
                    </div>
                </div>
                <a th:href="@{/puesto_trabajo/}" class="btn btn-secondary" type="button"><i class="corner-up-left"></i>Regresar</a>
            </div>

            <link th:replace="~{/components/footer}">
        </div>
    </div>

    <!-- ERROR-MODAL-->

    <link th:replace="~{/components/script}">

</body>

</html>